@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,700&display=swap');
  
  html, body {
    padding: 0;
    margin: 0;
    height: 100%;
  }

  body {
    background: #ddf3f4;
    display: flex;
    flex-direction: column;
    white-space: pre-line;
    font-family: 'Poppins';
  }

  #map { 
    flex: 2 2;
  }

  #main {
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1 1;

    h1 {
        font-weight: bold;
        font-size: 1em;
    }

    h2 {
        display: none;
        font-weight: 400;
        font-size: 1.17em;
    }

    h3 {
        font-weight: 400;
        font-size: .6em;
    }

    p {
        font-size: .6em;
        margin-bottom: 0;      
    }
  }

  


  @media only screen and (min-width: 768px) {
    body {
        flex-direction: row;
      }
      #main {

        text-align: center;

        h1 {
            margin-top: 20%;
            margin-bottom: 0;
            font-size: 3em;
        }
        
        h2 {
            display: block;
            font-weight: 400;
            font-size: 1.17em;
        }

        h3 {
            position: absolute;
            top: auto;
            bottom: 0;
            left: 15px;
            font-size: .8em;
        }
        p {
            font-size: 1em;
        }
        #benchless {
          margin-bottom: 5px;
        }
      }
  }